<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pay Your Friends</title>
  <!-- <link rel="stylesheet" href="../static/css/Style.css" /> -->
  <link rel="stylesheet" href="/css/Style.css" />
  <script src="/js/script.js" defer></script>
</head>

<body>

    <form class="mainForm" method="post" target="resultFrame" action="formdata" enctype="multipart/form-data">
     
        
        <div class="inputs">
          <h3>
            Sender Details
          </h3>  
        
          <input type="file" id="imageInput">
          <br>
          <img id="previewImage" alt="Preview" name="myfile" required >
          
          
          <br>
          <label>
            First Name: 
            <input type="text" id="firstname" name="firstname" required>
          </label>
          <label>
            Last Name: 
            <input type="text" id="lastname" name="lastname" required>
          </label>
          <h3>
            Recipient Details
          </h3>
          <label>
            First Name: 
            <input type="text" id="firstname2" name="firstname2" required>
          </label>
          <label>
            Last Name: 
            <input type="text" id="lastname2" name="lastname2" required>
          </label>
          <label>
            <br>Message:<br> 
            <input type="text" id="message" name="message" required minlength="10">
          </label>
          
          <label>
            <br>Notify Recipient:<br> 
              <label>
                <input type="radio" name="notify" value="email">
                  Email
              </label>
              <label>
                <input type="radio" name="notify" value="SMS">
                SMS
              </label>
              <label>  
              <input type="radio" name="notify" value="do not notify">
                  Do Not Notify
              </label>
              
          </label>

          <label>
            <br>Email:
            <input type="email" id="email" name="email">
          </label>
          <label>
            Phone Number: 
            <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
          </label>

          <h3>
            Payment Details
          </h3>
          <label>
            Card Type:<br> 
            <input list="card-types" name="CardType" required/>

            <datalist id="card-types">
                <option value="Visa"></option>
                <option value="MasterCard"></option>
                <option value="American Express"></option>
            </datalist>   
          </label>

          <label>
            Card Number: 
            <input type="text" id="cardNumber" name="cardNumber" required pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}">
          </label>

          <label>
            <br>Expiration:
          <input type="date" id="Expiration" name="Expiration" required/>
          </label>

          <label>
            CCV:
          <input type="password" id="CCV" name="CCV" required minlength="3" maxlength="4" />
          </label>

          <label>
            Amount ($):
          <input type="text" id="amount" name="amount" required pattern="^\d*\.\d{2}$" />
          </label>
         <label>
            <br>
            <input type="checkbox" id="termsandconditions" name="termsandconditions" required/>
            I agree to the terms and conditions
         </label>
        <br>
         <input type="submit" id="Send" value="Send">
        </div>
        
        
      </form>
</body>

</html>