<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pay Your Friends</title>
  <!-- <link rel="stylesheet" href="../static/css/Style.css" /> -->
  <link rel="stylesheet" href="/css/Style.css" />
  <script src="/js/script.js" defer></script>
</head>

<body>
    <div class="titleinfo">
      <h1>
        Pay Your Friends
      </h1>
      <h2>
        Fill out the form below with accurate information so that you can send some money to your friend!
      </h2>
    </div>
    
    <form class="mainForm" method="post" target="resultFrame" action="send" enctype="multipart/form-data">
     
        
        <div class="SenderDetails">
          <h3>
            Sender Details
          </h3>  
        
          <img id="previewImage" alt="Insert Image File to Preview Here!">
          <br>
          <input type="file" id="imageInput" name="myfile" accept="image/*" required>
          
          
         
          
          <br>
          <label>
            First Name: 
            <input type="text" id="firstname" name="firstname" required>
          </label>
          <label>
            Last Name: 
            <input type="text" id="lastname" name="lastname" required>
          </label>
        </div>  
        <div class="RecipientDetails">

        
          <h3>
            Recipient Details
          </h3>
          <label>
            First Name: 
            <input type="text" id="firstname2" name="firstname2" required>
          </label>
          <label>
            Last Name: 
            <input type="text" id="lastname2" name="lastname2" required>
          </label>
          <label>
            <br>Message:<br> 
            <!-- <input type="text" id="message" name="message" required minlength="10"> -->
            <textarea id="message" name="message" required minlength="10"></textarea>
          </label>
          
          <label>
            <br>Notify Recipient:<br> 
              <label>
                <input type="radio" name="notify" id="notifyemail" value="email">
                  Email
              </label>
              <label>
                <input type="radio" name="notify"  id="notifysms"value="SMS">
                SMS
              </label>
              <label>  
              <input type="radio" name="notify" id="notifydont" value="do not notify">
                  Do Not Notify
              </label>
              
          </label>

          <label>
            <br>Email:
            <input type="email" id="email" name="email">
          </label>
          <label>
            Phone Number: 
            <input type="tel" id="phone" name="phone" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
          </label>
        </div>
        <div class="PaymentDetails">

        
          <h3>
            Payment Details
          </h3>
          <label>
            Card Type:<br> 
            <input list="card-types" id ="cardtype" name="CardType" required/>

            <datalist id="card-types">
                <option value="Visa"></option>
                <option value="MasterCard"></option>
                <option value="American Express"></option>
            </datalist>   
          </label>

          <label>
            Card Number: 
            <input type="text" id="cardNumber" name="cardNumber" required pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}">
          </label>

          <label>
            <br>Expiration:
          <input type="date" id="Expiration" name="Expiration" required/>
          </label>

          <label>
            CCV:
          <input type="password" id="CCV" name="CCV" required pattern="^[0-9]{3,4}$" />
          </label>

          <label>
            Amount ($):
          <input type="text" id="amount" name="amount" required pattern="^\d*\.\d{2}$" />
          </label>
         <label id="ermsandconditionslabel">
            <br>
            <input type="checkbox" id="termsandconditions" name="termsandconditions" required/>
            I agree to the terms and conditions
         </label>
        <br>
      </div>
         <input type="submit" id="Send" value="Send">
        
        
        
      </form>
</body>

</html>