<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pay Your Friends</title>
  <link rel="stylesheet" href="../static/css/Style.css" />
  <script src="../static/js/script.js"></script>
</head>

<body>
  <div class="SenderDetails">
    <img>
    <form action="/formdata" method="get">
        <input type="text" name="image">
        <input type="submit" value="Image">
    </form>
    <label for="firstName">First Name:</label>
    <form action="/formdata" method="get">
        <input type="text" name="firstName">
        <input type="submit">
    </form>
    <label for="lastName">Last Name:</label>
    <form action="/formdata" method="get">
        <input type="text" name="lastName">
        <input type="submit">
    </form>

  </div>
  <div class="RecepientDetails">

  </div>
  <div class="PaymentDetails">

  </div>
</body>

</html>