@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Martian+Mono&display=swap');

body {
    background-color: rgb(62, 35, 78);
    font-family: 'Arimo', sans-serif;
    font-family: 'Martian Mono', monospace;
    
}

h3 {
    background-color: rgb(124, 7, 7);
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
     width: 30%;
    height: 100px;
    border-radius: 20px;
}

p {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100px;
    border-radius: 20px;
}