* {
    font-family: 'Fjalla One', sans-serif;
}

header {
      
    text-align: center;
    background-color: rgb(191, 213, 255);
    border: 3px solid #333;;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color:  rgb(191, 213, 255); 
    border: solid #333;
    
}


main > h2 {
    background-color:  rgb(191, 213, 255);
    
}

.about {
    
    background-color: rgb(102, 102, 250);
    border: 4px solid #333;
    padding: 3px;
    border-radius: 10px;
    
}

article > img {
    width: 400px;
    height: 300px;
    grid-row: 1;
}

article > h2 {
    grid-row: 2;
}

article > p {
    grid-row: 3/4;
    
    
}


article {
    display: grid;
    justify-content: center;
    grid-column-gap: 50px;
}

a {
    text-decoration: none;
    color: black;
}

.weather {
    background-color: rgb(102, 102, 250);
    border: 4px solid #333;
    padding: 3px;
    border-radius: 10px;
}

.contact {
    background-color: rgb(102, 102, 250);
    border: 4px solid #333;
    padding: 3px;
    border-radius: 10px;
}

main {
    text-align: center;

}




