
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans:wght@500&display=swap');



body {
    background-color: rgb(58, 55, 212);
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* #Title {
    background-color: rgb(50, 48, 163);
    color: white;
    position: fixed;
    
}

#Username {
    position: fixed;
    top: 0;
    right: 70px;
} */

#Title {
    
    font-weight: bold;
    
}

#header {
    background-color: rgb(50, 48, 163);
    color: white;
}

/* #Username {
    position: fixed;
    top: 10px;
    right: 100px;
} */


