#userProfileDetails {
    background-color: orange;
    border-radius: 5px;
}


#userDetails {
    color: white;
}

#howlsTitle {
    color: white;
}

#followButton {
    background-color: rgb(28, 12, 83);
    color: white;
    border-color: orange;
}