#userProfileDetails {
    background-color: rgb(51, 32, 122);
    border-radius: 5px;
}


#userDetails {
    color: white;
}

#howlsTitle {
    color: white;
}

#followButton {
    background-color: rgb(28, 12, 83);
    color: white;
    border-color: rgb(51, 32, 122);
}

#homeLink {
    color: white;
    text-decoration: none;
}

#followsContainer {
    background-color: rgb(16, 17, 112);
    border-radius: 5px;
    color: white;
}

#followsTitle {
    color: white;
}