#userProfileDetails {
    background-color: orange;
    border-radius: 5px;
}


#userDetails {
    color: white;
}

#howlsTitle {
    color: white;
}

/* #followButton {
    font-size: larger;
    width: 25%;
} */