
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(19, 19, 70);
}

.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 20vw;
    min-width: fit-content;
    height: 100vh;
    
    background-color: rgb(128, 0, 0);
    
    
}

#logo {
    background-color: rgb(2, 41, 41);
    padding: 12px;
    border-radius: 10px;
    
}

#NCSU {
    display: flex;
    color: rgb(255, 255, 255);
    padding: 10px;
    justify-content: center;
    
    border-radius: 10px;
    font-size: 2vh;

}



.student {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#studentPhoto { 
    border-radius: 300px;
    width: 10vw;
    min-width: 100px;

    
}

#username {
    text-align: center; 
    
    color: white;
    font-size: 2vh;
    
}

#email {
    text-align: center; 

    color: white;
    font-size: 2vh;
}

.links {
    display: flex;
    flex-direction: column;
   
    justify-content: space-between;
    align-items:center;
    font-size: larger;

    

}  

.asidefooterlinks {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    font-size: larger;
    
    
}
 
.headerLeft {
    display: flex;
    flex-direction: row;
    background-color: rgb(128, 0, 0);
    padding: 10px;
    border-radius: 10px;
    width: 20vw;
    min-width: fit-content;
    float: left;
}

#Greetings {
    color: white; 
    font-size: larger;
    padding-right: 3%;
}

#search {
    color: white; 
    font-size: larger;
    padding-right: 3%;
}


 .headerRight {
    position: relative;
    z-index: 99;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    border-radius: 10px;
    width: 55vw;
    height: 10vh;
    right: 0;
 }



.accountDropdown .editandlogout {
    display: none;
}
.accountDropdown:hover .editandlogout {
    display: block;
    border: 1px solid black;
    background-color: rgb(43, 39, 42);
    border-radius: 10px;
    
    padding: 10px;
    position: fixed;
}

.accountDropdown:hover .editandlogout a {
    text-decoration: none;
    color: white;
}

.settingsDropdown .settingsandupdate {
    display: none;
}
.settingsDropdown:hover .settingsandupdate {
    display: block;
    padding:10px;
    border: 1px solid black;
    background-color: rgb(43, 39, 42);
    border-radius: 10px;
    position: fixed;
}

.settingsDropdown:hover .settingsandupdate a {
    text-decoration: none;
    color: white;
}

.notificationsdropdown .notifications {
    display: none;
}
.notificationsdropdown:hover .notifications {
    display: block;
    padding:10px;
    border: 1px solid black;
    background-color: rgb(43, 39, 42);
    border-radius: 10px;
    position: fixed;
    
}

.notificationsdropdown:hover .notifications h6 {
    text-decoration: none;
    color: white;
    font-size: larger;
}

.notificationsdropdown:hover .notifications a {
    text-decoration: none;
    color: white;
    font-size: larger;
}

.notifications {
    color: white;
}

.messagesdropdown .messages {
    display: none;
}
.messagesdropdown:hover .messages {
    display: block;
    padding:10px;
    border: 1px solid black;
    background-color: rgb(43, 39, 42);
    border-radius: 10px;
    position: fixed;
}

.messagesdropdown:hover .messages h6 {
    text-decoration: none;
    color: white;
    font-size: larger;
}

.messagesdropdown:hover .messages a {
    text-decoration: none;
    color: white;
    font-size: larger;
}

.messages {
    color: white;
    font-size: larger;
}

#edit {
    color:white;
}

#logout {
    color:white;
}

#settings {
    color:white;
}

#update {
    color:white;
}

.studentButton {
    background-color: rgb(151, 148, 148);
    color: white;
    border-radius: 10px;
    font-size: larger;
    min-height: 30px;
    min-width: 30px;
}

#settingsbutton {
    width: 3vw;
    height: 3vh;
    font-size: larger;
    background-color: rgb(151, 148, 148);
    border-radius: 10px;
    min-height: 30px;
    min-width: 30px;
}

#notificationsbutton {
    width: 3vw;
    height: 3vh;
    font-size: larger;
    background-color: rgb(151, 148, 148);
    border-radius: 10px;
    color: rgb(255, 255, 0);
    min-height: 30px;
    min-width: 30px;
}

#messagesButton > span {
    
    font-size: smaller;
    color: red;
}

#messagesButton {
    width: 3vw;
    height: 3vh;
    font-size: larger;
    background-color: rgb(151, 148, 148);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    min-height: 30px;
    min-width: 30px;
}

#sidebarsettings {
    color: white;
    font-size: 3vh;
}

#sidebarlogout {
    color: white;
    font-size: 3vh;
}

#sidebardashboard {
    color: white;
    font-size: 3vh;
}

#sidebarforms {
    color: white;
    font-size: 3vh;
}

#sidebarfeatures {
    color: white;
    font-size: 3vh;
}

#sidebarbuttons {
    color: white;
    font-size: 3vh;
}

#sidebartypography {
    color: white;
    font-size: 3vh;
}

#sidebartables {
    color: white;
    font-size: 3vh;
}

#sidebarcharts {
    font-size: 3vh;
    color: white;
}

#studentButton {
    height: 10px;

}



.boxes {
    display: grid;
    width: 75vw;
    grid-template-columns: 4;
    grid-template-rows: 1;
    margin-left: 1vw;
    margin-right: 2vw;
    gap: 5px;
}

.borrowed {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1;
    color: white;
    align-items: center;
    background-color:rgb(9, 20, 20);
    border-radius: 10px;

}

.borrowed > h5 {
    font-size: 2em;
}

.borrowed > p {
    font-size: 1.5em;
}

.profit {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 1;
    color: white;
    align-items: center;
    background-color:rgb(20, 36, 36);
    border-radius: 10px;
}

.profit> h5 {
    font-size: 2em;
}

.profit > p {
    font-size: 1.5em;
}

.conversion {
    display: flex;
    flex-direction: column;
    grid-column: 3;
    grid-row: 1;
    background-color:rgb(10, 15, 15);
    color: white;
    align-items: center;
    border-radius: 10px;
}

.conversion > h5 {
    font-size: 2em;
}

.conversion > p {
    font-size: 1.5em;
}

.income {
    display: flex;
    flex-direction: column;
    grid-column: 4;
    grid-row: 1;
    background-color:rgb(20, 36, 36);
    color: white;
    align-items: center;
    border-radius: 10px;
}

.income > h5 {
    font-size: 2em;
}

.income > p {
    font-size: 1.5em;
}



.revlocations {
    display: grid;
    width: 75vw;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 2vw;
    background-color: #295529;
    grid-template-columns: 3;
    grid-template-rows: 4;
}

#loctitle {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 1;
    grid-column: 1;
    color: white;
    font-size: 3.5em;



}
.locsubtitles {
    display: flex;
    flex-direction: column;
    grid-row: 2/4;
    grid-column: 1;
    align-items: center;
    justify-content: center;
    color: white;
}

.locsubtitles > h5 {
    font-size: 1.5em;
}

#sevendaysbutton {
    font-size: 2em;
}

.dataandmap {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: #082215;
    grid-row: 1/4;
    grid-column: 2/3;
}

.locationtable {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:white;
    width: 700px;
    font-size: 1.75em; 
}


.usa {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.phillipines {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.uk {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.canada {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.france {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.impressionsandtraffic {
    display: grid;
    width: 75vw;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 2vw;
    gap: 10px
}

.impressions {
    grid-row: 1;
    display: grid;
    color: white;
    background-color: rgb(65, 20, 35);
}


#impressionstitle {
    grid-row: 1;
    display: flex;
    justify-content: center;
    
}

.impressionsinfo {
    grid-row: 2;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: self-start;
    background-color: rgb(99, 34, 56);
}

.impressionsdata {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;
    font-size: 2em;
}


#impressionsimage {
    width: 100%;
}

.traffic {
    grid-row: 1;
    grid-column: 2;
    display: grid;
    
    background-color: rgb(51, 5, 21);
    color: white;
}

#traffictitle {
    grid-row: 1;
    display: flex;
    justify-content: center;

}

.trafficinfo {
    grid-row: 2;
    background-color: rgb(88, 18, 42);

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: self-start;
}

.trafficdata {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    width: max-content;
    font-size: 2em;
}


#trafficimage {
    width: 100%;
}

.revenueloc2andorderstats {
    display: grid;
    width: 75vw;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 2vw;
    gap: 10px;
    
}

.revenuebyloc2 {
    grid-row: 1;
    grid-column: 1;
    
    background-color: rgb(27, 48, 43);
    
    display: grid;
}

#revloc2title {
    color: white;
    grid-row: 1;
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.subtitleanddataandbuttons {
    display: grid;
    grid-row: 2;
    background-color: rgba(0, 0, 0, 0.233);
}

#revloc2subtitle {
    color: white;
    display: flex;
    font-size: 2em;
    align-items: center;
    justify-content: center;
    grid-row: 1;
}

.imagecontainerbarchart {
    /* grid-row: 2; */
    grid-row: 3;
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
}

.orderstats {
    background-color: orange;
    grid-row: 1;
    grid-column: 2;
    display: grid;
}


#barimage {
    width: 37.5vw;
    
}
.orderstatstitleandsubtitlecontainer {
    grid-row: 1;
    grid-column: 1;
}

.orderstatsimagecontainer {
    grid-row: 2;
    display: flex;
    justify-content: center;

}



.orderstatstitleandsubtitle {
    background-color: #295529;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

 .orderstatstitleandsubtitle > h4 {
    font-size: 3em;

}

.orderstatstitleandsubtitle > h6 {
    font-size: 2em;
}

#orderimage {
    width: 37.5vw;
    
}


 



