
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color:rgb(255, 255, 255);
}

.sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 20vw;
    height: 100vh;
    background-color: rgb(19, 19, 70);
    
    
}

#logo {
    background-color: rgb(2, 41, 41);
    padding: 12px;
    border-radius: 10px;
    
}

#NCSU {
    background-color: red;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    font-size: larger;
}



.student {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#studentPhoto { 
    border-radius: 300px;
    width: 10vw;

    
}

#username {
    text-align: center; 
    
    color: white;
    font-size: larger;
    
}

#email {
    text-align: center; 

    color: white;
    font-size: larger;
}

.links {
    display: flex;
    flex-direction: column;
   
    justify-content: space-between;
    align-items:center;
    font-size: larger;

    

}  

.asidefooterlinks {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    font-size: larger;
    
    
}
 
.headerLeft {
    display: flex;
    flex-direction: row;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    width: 20vw;
    float: left;
}

#Greetings {
    color: white; 
    font-size: larger;
    padding-right: 3%;
}

#search {
    color: white; 
    font-size: larger;
    padding-right: 3%;
}


 .headerRight {
    display: flex;
    width: 60vw;
    height: 10vh;
 }



/* .accountDropdown:active {
    visibility: hidden;
} */

#sidebarsettings {
    color: white;
}

#sidebarlogout {
    color: white;
}

#sidebardashboard {
    color: white;
}

#sidebarforms {
    color: white;
}

#sidebarfeatures {
    color: white;
}

#sidebarbuttons {
    color: white;
}

#sidebartypography {
    color: white;
}

#sidebartables {
    color: white;
}

#sidebarcharts {
    color: white;
}

#studentButton {
    height: 10px;

}
